*{
    margin: 0;
    padding: 0;
    color: white;
}
#nevbar{
    height: 60px;
    background-color: rgb(83, 78, 78);
     text-align: right;
}
a{
   
    margin-right: 150px;
    text-decoration: none;
}
#logo{
    font-size: 30px;
}
#me{
    height: 250px;
    background-color:rgb(116, 113, 113) ;
      display: flex;
     gap: 120px;
    align-items: center;
    padding: 50px;
}
.text{
    width:50%
}
.image img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
#name{
    font-size: 30px;
    padding-top: 50px;
    margin-left: 50px;
}
#profile{
     padding-top: 20px;
    margin-left:50px ;

}
button{
    background-color: aqua;
     margin-left: 50px;
         color: black;
}

.MY{
     height: 300px;
     text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: antiquewhite; 

}
.MY p{
    width: 60%;
    margin: auto;
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 1.6;

}